{% extends 'base.html.twig' %}

 {% block pageheader %} 
    <h1>Thread List</h1>
    <p class="count">
        Displaying {{ threads|length }} threads of {{ threads.getTotalItemCount }} total.
    </p>
 {% endblock %} 

{% block body %}

        <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('thread_new') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> New
            </a>
            <a href="{{ path('thread_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>
        
    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Replycount</th>
                <th>Youtubeid</th>
                <th>Etag</th>
                <th>Refreshed</th>
                <th>Created</th>
                <th>Updated</th>            </tr>
        </thead>
        <tbody>
        {% for thread in threads %}
            <tr>
                <td>
                    <a href="{{ path('thread_show', { 'id': thread.id }) }}">
                        {{ thread.replyCount }}
                    </a>
                </td>
                <td>{{ thread.youtubeId }}</td>
                <td>{{ thread.etag }}</td>
                <td>{% if thread.refreshed %}{{ thread.refreshed|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if thread.created %}{{ thread.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if thread.updated %}{{ thread.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
    <div class="navigation">
        {{ knp_pagination_render(threads) }}
    </div>

{% endblock %}
