{% extends 'base.html.twig' %}

{% block title %}Figuration List{% endblock %}

{% block pageheader %}
    <h1>Figuration List</h1>
    <p class="count">
        Displaying {{ figurations|length }} figurations of {{ figurations.getTotalItemCount }} total. </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <a href="{{ path('figuration_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New </a>
            {% endif %}
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Label</th>
                <th>Description
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            {% for term in figurations %}
                <tr>
                    <td>
                        <a href="{{ path('figuration_show', { 'id': term.id }) }}">
                            {{ term.label }}
                        </a>
                    </td>
                    <td>
                        {{ term.description|raw }}
                    </td>
                    <td>
                        {{ repo.countVideos(term) }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(figurations) }}
    </div>

{% endblock %}
