{% extends 'base.html.twig' %}

{% block title %}Figuration List{% endblock %}

{% block pageheader %}
    <h1>Figuration List</h1>
    <p class="count">
        Displaying {{ figurations|length }} figurations of {{ figurations.getTotalItemCount }} total. </p>
{% endblock %}

{% block body %}
    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Label</th>
                <th>Description
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            {% for term in figurations %}
                <tr>
                    <td>
                        <a href="{{ path('figuration_show', { 'id': term.id }) }}">
                            {{ term.label }}
                        </a>
                    </td>
                    <td>
                        {{ term.description|raw }}
                    </td>
                    <td>
                        {{ repo.countVideos(term, app.user) }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(figurations) }}
    </div>

{% endblock %}
