{% extends 'base.html.twig' %}

{% block title %}Figuration{% endblock %}

 {% block pageheader %}
     <h1>Figuration: {{ figuration }}</h1>
 {% endblock %} 

{% block body %}
    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="{{ path('figuration_index') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back </a>
        </div>
    </div>

    {% include 'NinesUtilBundle:term:partial/show.html.twig' with {'term': figuration} %}

    {% if figuration.videos | length > 0 %}
        <h2>Videos</h2>
        {% include('gallery.html.twig') with {'useFiguration': 'false'} %}
        {#
        <ul>
            {% for video in videos %}

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="{{ path('video_show', { 'id': video.id }) }}"> #{{ video.id }} - {{ video }}
                        </a>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3">
                                {% if video.thumbnail %}
                                    <a href="{{ path('video_show', { 'id': video.id }) }}">
                                        <img src="{{ video.thumbnail }}" class="thumbnail pull-left" /> </a>
                                {% endif %}
                            </div>
                            <div class="col-sm-9">
                                <p>{{ video.description|truncate(200)|nl2br }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        {% if video.publishedAt %}Published {{ video.publishedAt|date }}{% endif %}
                    </div>
                </div>

            {% endfor %}
        </ul> #}
    {% endif %}
{% endblock %}
