{% extends 'base.html.twig' %}

 {% block pageheader %} 
    <h1>Comment List</h1>
    <p class="count">
        Displaying {{ comments|length }} comments of {{ comments.getTotalItemCount }} total.
    </p>
 {% endblock %} 

{% block body %}

        <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('comment_new') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> New
            </a>
            <a href="{{ path('comment_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>
        
    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Youtubeid</th>
                <th>Etag</th>
                <th>Authorname</th>
                <th>Content</th>
                <th>Likes</th>
                <th>Publishedat</th>
                <th>Updatedat</th>
                <th>Created</th>
                <th>Updated</th>            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>
                    <a href="{{ path('comment_show', { 'id': comment.id }) }}">
                        {{ comment.youtubeId }}
                    </a>
                </td>
                <td>{{ comment.etag }}</td>
                <td>{{ comment.authorName }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.likes }}</td>
                <td>{% if comment.publishedAt %}{{ comment.publishedAt|date }}{% endif %}</td>
                <td>{% if comment.updatedAt %}{{ comment.updatedAt|date }}{% endif %}</td>
                <td>{% if comment.created %}{{ comment.created|date }}{% endif %}</td>
                <td>{% if comment.updated %}{{ comment.updated|date }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
    <div class="navigation">
        {{ knp_pagination_render(comments) }}
    </div>

{% endblock %}
