{% extends 'base.html.twig' %}

{##############################################
#                 VARIABLES                   #
##############################################}

{% set title = 'Keyword: ' ~ keyword.label %}


{##############################################
#                TITLE BLOCK                  #
##############################################}

{% block title %}
{{ title }}
{% endblock %}

{##############################################
#             PAGE HEADER BLOCK               #
##############################################}

{% block pageheader %}
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Home</a></li>
        <li><a href="{{ path('keyword_index') }}">Keywords</a></li>
        <li class="active">{{ keyword.label|truncate(30) }}</li>
    </ol>
    <h1>{{ title }}</h1>
{% endblock %} 

{##############################################
#               BODY BLOCK                    #
##############################################}

{% block body %}
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Keyword</th>
                <td>{{ keyword.label }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if keyword.created %}{{ keyword.created|date }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if keyword.updated %}{{ keyword.updated|date }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    {% if keyword.videos %}
    <h2>Videos</h2>
        <div class="btn-toolbar">
            <div class="btn-group pull-right">
                <a href="{{ path('keyword_details_download', {'id': keyword.id}) }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-download"></span> Download
                </a>
            </div>
        </div>
        
        {% include('gallery.html.twig') with {'useFiguration': 'true'} %}
    {% endif %}
    <div class="navigation">
        {{ knp_pagination_render(videos) }}
    </div>
{% endblock %}



{% block javascripts %}
    <script src="{{ asset('bower/jquery-tablesort/jquery.tablesort.min.js') }}"></script>
    <script>
        (function($){$('.tablesort').tablesort();})(jQuery);
    </script>
{% endblock %}
