<div class="card">
    <a href="{{ path('video_show', { 'id': video.id }) }}">
        <img src="{{ asset('bundles/app/images/default.png')}}" data-src="{{ video.thumbnail | replace({'default': 0})}}" class="card-img-top" loading="lazy"/>
    </a>
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('video_show', {'id': video.id})}}">
                {{ video.title }}
            </a>
        </h5>
        {% if video.figuration %}
        <h6>Figuration: <a href="{{ path('figuration_show', { 'id': video.figuration.id }) }}">{{video.figuration}}</a></h6>
        {% endif %}
    </div>
</div>