{% set cardPath = path('video_show', { 'id': video.id }) %}

<div class="card">
    <a href="{{ cardPath }}">
        <img src="{{ asset('bundles/app/images/default.png')}}" data-src="{{ video.thumbnail | replace({'default': 0})}}" class="card-img-top" loading="lazy"/>
    </a>
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ cardPath }}">
                {{video.title}}
            </a>
        </h5>
        {% if video.figuration and useFiguration == 'true' %}
        <div class="figuration-link">Figuration: <a href="{{ path('figuration_show', { 'id': video.figuration.id }) }}">{{video.figuration}}</a></div>
        {% endif %}
    </div>
</div>