
<!--Requires parameters: 
    
    TITLE,
    VIDEOS,
    USE FIGURATION,
    PATH
    -->

<div class="panel panel-default">
    <div class="panel-heading">
        <a href="{{ path }}">
            {{ title }}
        </a>
    </div>
    <div class="panel-body">
        
        {% for video in videos|slice(0, 8) %}
         {% include('card.html.twig') %}
        {% endfor %}
        {#               <p>{{ repo.findVideosQuery(app.user, {'type': 'AppBundle\\Entity\\Playlist', 'id': playlist.id}).execute()|length }} videos.</p> #}
    </div>
    
    {#  <div class="panel-footer text-right">
                Published on youtube {% if playlist.publishedAt %}{{ playlist.publishedAt|date }}{% endif %}. 
                Created {{ playlist.created|date }}. Last update: {{ playlist.updated|date }}
            </div> #}
</div>