
<!--Requires parameters: 
    
    TITLE,
    VIDEOS,
    USE FIGURATION,
    PATH
    -->

{% set videoCount = videos|length %}
<div class="panel panel-default">
    <div class="panel-heading">
        <a href="{{ path }}">
            {{ title }}
        </a>
        <span class="panel-heading-count">{{ videoCount }} video{% if (videoCount > 1) %}s{% endif %}</span>
    </div>
    <div class="panel-body">
        
        {% for video in videos|slice(0, 6) %}
         {% include('card.html.twig') %}
        {% endfor %}
        {% if (videoCount > 6) %}
        <div class="card see-more">
            <a href="{{ path }}" class="panel-see-more">
                + {{ videoCount - 8 }}
            </a>
        </div>
        {% endif %}
        
    </div>
    
    {#  <div class="panel-footer text-right">
                Published on youtube {% if playlist.publishedAt %}{{ playlist.publishedAt|date }}{% endif %}. 
                Created {{ playlist.created|date }}. Last update: {{ playlist.updated|date }}
            </div> #}
</div>