{% extends 'base.html.twig' %}

 {% block pageheader %} 
    <h1>MetadataElement List</h1>
    <p class="count">
        Displaying {{ metadataElements|length }} metadataElements of {{ metadataElements.getTotalItemCount }} total.
    </p>
 {% endblock %} 

{% block body %}

        <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('metadata_element_new') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> New
            </a>
            <a href="{{ path('metadata_element_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>
        
    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Created</th>
                <th>Updated</th>            </tr>
        </thead>
        <tbody>
        {% for metadataElement in metadataElements %}
            <tr>
                <td>
                    <a href="{{ path('metadata_element_show', { 'id': metadataElement.id }) }}">
                        {{ metadataElement.created }}
                    </a>
                </td>
                <td>{% if metadataElement.updated %}{{ metadataElement.updated|date }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
    <div class="navigation">
        {{ knp_pagination_render(metadataElements) }}
    </div>

{% endblock %}
