{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>Channel List</h1>
    <p class="count">
        Displaying {{ channels|length }} channels of {{ channels.getTotalItemCount }} total.
    </p>
{% endblock %} 

{% block body %}

    {% for channel in channels %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="{{ path('channel_show', {'id': channel.id}) }}">
                    {{ channel }}
                </a>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        {% if channel.thumbnailUrl %}
                            <a href="{{ path('channel_show', {'id': channel.id}) }}">
                                <img src="{{ channel.thumbnailUrl }}">
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-sm-9">
                        {{ channel.description|nl2br }}
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                {% if channel.publishedAt %}Published {{ channel.publishedAt|date }}{% endif %}
            </div>
        </div>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(channels) }}
    </div>

{% endblock %}
