{% extends 'base.html.twig' %}

{% block body %}
    <h1>VideoProfile edit</h1>

    {{ video.player|raw }}

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <input type="submit" value="Update" class="btn btn-primary" />
            <a href="{{ path('video_profile_show', { 'videoId': video.id }) }}" class="btn btn-warning">Cancel</a>
        </div>
    </div>
    {{ form_end(edit_form) }}

{% endblock %}

{% block styles %}
    <link href="{{ asset('bower/select2/dist/css/select2.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bower/select2-bootstrap-theme/dist/select2-bootstrap.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}    
    <script src="{{ asset('bower/select2/dist/js/select2.min.js') }}"></script>
    
    <script type="text/javascript">
        var url = "{{ path('video_profile_selection', {'id': video.id}) }}";
    </script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('select.selectable').select2({tags: true});
            $('select.selectable').on('select2:select', function (e) {
                var elementName = $(this).data('element-name');
                console.log(e.params.data);
                $.ajax({
                    cache: false,
                    error: function(jqXhr, status, error) {
                        console.log(status + ": " + error);
                    },
                    success: function(data, status, jqXhr){
                        console.log(data.message);
                    },
                    data: {
                        'name': elementName,
                        'data': {
                            text: e.params.data.text,
                            id: e.params.data.id,
                        },
                    },
                    url: url,
                });
            });
            $('select.selectable').on('select2:select', function(e){
                // ajax submit the tag
                // get the tag's id
                // find the tag's option element
                // set its id.
                console.log(e.params);
            });
        });
    </script>
{% endblock %}