{% extends 'base.html.twig' %}

{##############################################
#                VARIABLES                    #
##############################################}

{% set title = 'Playlist: ' ~ playlist.title %}

{##############################################
#                TITLE BLOCK                  #
##############################################}

{% block title %}
    {{ title }}
{% endblock %}

{##############################################
#             PAGE HEADER BLOCK               #
##############################################}

{% block pageheader %} 
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Home</a></li>
        <li><a href="{{ path('playlist_index') }}">Playlists</a></li>
        <li class="active">{{ title|u.truncate(30) }}</li>
    </ol>
    <h1>{{ title }}</h1>
    <p class="count">
        Displaying {{ videos|length }} videos of {{ videos.getTotalItemCount }} total.
    </p>
{% endblock %} 


{##############################################
#                BODY BLOCK                   #
##############################################}

{% block body %}
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Youtube URL</th>
                <td><a 
                    href="https://www.youtube.com/playlist?list={{ playlist.youtubeId }}">{{ playlist.title }}</a>
                </td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ playlist.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ playlist.description }}</td>
            </tr>
            <tr>
                <th>Youtube Id</th>
                <td>{{ playlist.youtubeId }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{% if playlist.publishedAt %}{{ playlist.publishedAt|date }}{% endif %}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ playlist.status }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if playlist.created %}{{ playlist.created|date }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if playlist.updated %}{{ playlist.updated|date }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    {% if videos|length > 0 %}
        {% include('gallery.html.twig') with {'videos': videos, 'useFiguration': true} %}
    {% endif %}
    
    {# Include pagination #}
    <div class="navigation">
        {{ knp_pagination_render(videos) }}
    </div>

{% endblock %}
