{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>ProfileKeyword List</h1>
    <p class="count">
        Displaying {{ profileKeywords|length }} profileKeywords of {{ profileKeywords.getTotalItemCount }} total.
    </p>
{% endblock %} 

{% block body %}

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Keyword</th>
                <th>Element</th>
                <th>Created</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody>
            {% for profileKeyword in profileKeywords %}
                <tr>
                    <td>
                        <a href="{{ path('profile_keyword_show', { 'id': profileKeyword.id }) }}">
                            {{ profileKeyword }}
                        </a>
                    </td>
                    <td>{{ profileKeyword.profileElement }}</td>
                    <td>{% if profileKeyword.created %}{{ profileKeyword.created|date }}{% endif %}</td>
                    <td>{% if profileKeyword.updated %}{{ profileKeyword.updated|date }}{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(profileKeywords) }}
    </div>

{% endblock %}
