{% extends 'base.html.twig' %}


{# #############################################
#                VARIABLES                    #
############################################# #}

{% set title = 'Profile Keywords' %}

{# #############################################
#                TITLE BLOCK                  #
############################################# #}

{% block title %}
{{ title }}
{% endblock %}

{# #############################################
#             PAGE HEADER BLOCK               #
############################################# #}

{% block pageheader %} 
<ol class="breadcrumb">
    <li><a href="{{ path('homepage') }}">Home</a></li>
    <li class="active">{{ title|u.truncate(30) }}</li>
</ol>

<h1>{{ title }}</h1>
{% endblock %} 

{% block body %}

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Keyword</th>
                <th>Element</th>
                <th>Videos</th>
            </tr>
        </thead>
        <tbody>
            {% for profileKeyword in profileKeywords %}
                <tr>
                    <td>
                        <a href="{{ path('profile_keyword_show', { 'id': profileKeyword.id }) }}">
                            {{ profileKeyword }}
                        </a>
                    </td>
                    <td>{{ profileKeyword.profileElement }}</td>
                    <td>{{ profileKeyword.videos | length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(profileKeywords) }}
    </div>

{% endblock %}
