{% extends 'base.html.twig' %}

{# #############################################
#                VARIABLES                    #
############################################# #}

{% set title = 'Profile Keyword: ' ~ profileKeyword.label %}

{# #############################################
#                TITLE BLOCK                  #
############################################# #}

{% block title %}
{{ title }}
{% endblock %}

{# #############################################
#             PAGE HEADER BLOCK               #
############################################# #}

{% block pageheader %} 
<ol class="breadcrumb">
    <li><a href="{{ path('homepage') }}">Home</a></li>
    <li><a href="{{ path('profile_keyword_index') }}">Profile Keyword</a></li>
    <li class="active">{{ title|u.truncate(30) }}</li>
</ol>

<h1>{{ title }}</h1>
{% endblock %} 
                
{% block body %}
    {% if profileKeyword.videos %}
        <h2>Videos</h2>
        {% include('gallery.html.twig') with { 'useFiguration': 'true'} %}
    {% endif %}

{% endblock %}
