{% extends 'base.html.twig' %}

{##############################################
#                VARIABLES                    #
##############################################}

{% set title = 'Videos' %}


{##############################################
#                TITLE BLOCK                  #
##############################################}

{% block title %}
    {{ title }}
{% endblock %}

{##############################################
#                PAGEHEADER BLOCK             #
##############################################}

{% block pageheader %} 
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Home</a></li>
        <li class="active">{{ title }}</li>
       
    </ol>
    <h1>{{ title }}</h1>
    <p class="count">
        Displaying {{ videos|length }} videos of {{ videos.getTotalItemCount }} total. Page {{ videos.getPage() ? videos.getPage() : 1 }} of {{ videos.getPageCount() }}. <br>
        Sort by 
        <span {% if videos.isSorted('e.id') %}class='sorted {{ videos.getDirection()}}'{% endif %}>{{ knp_pagination_sortable(videos, 'ID', 'e.id') }}</span> or 
        <span {% if videos.isSorted('e.publishedAt') %}class='sorted {{ videos.getDirection()}}'{% endif %}>{{ knp_pagination_sortable(videos, 'Date Published', 'e.publishedAt') }}</span> or 
        <span {% if videos.isSorted('e.title') %}class='sorted {{ videos.getDirection()}}'{% endif %}>{{ knp_pagination_sortable(videos, 'Title', 'e.title') }}</span> 

    </p>
{% endblock %} 

{##############################################
#                BODY BLOCK                   #
##############################################}


{% block body %}
    
    {# Include the gallery with figurations #}
    
    {% include('gallery.html.twig') with { 'useFiguration': 'true'} %}
    
    {# Include pagination #}
    <div class="navigation">
        {{ knp_pagination_render(videos) }}
    </div>

{% endblock %}
