{% extends 'base.html.twig' %}

{##############################################
#                VARIABLES                    #
##############################################}

{% set title = video %}
{% set hasScreenshots = (video.screenShots | length > 0) %}

{##############################################
#                TITLE BLOCK                  #
##############################################}

{% block title %}
{{ title }}
{% endblock %}

{##############################################
#                MAIN CLASS BLOCK                  #
##############################################}

{% block mainclass %}video{% endblock %}


{##############################################
#             PAGE HEADER BLOCK               #
##############################################}

{% block pageheader %}
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Home</a></li>
        <li><a href="{{ path('video_index') }}">Videos</a></li>
        <li class="active">{{ video.title|u.truncate(30) }}</li>
    </ol>
    <h1>{{ title }}</h1>
    {% if video.figuration %}
        <h2 class="figuration-link-heading">Figuration: 
            <a href="{{ path('figuration_show', {'id': video.figuration.id}) }}">{{ video.figuration }}</a>
        </h2>
    {% endif %}
{% endblock %} 

{##############################################
#                  BODY BLOCK                 #
##############################################}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="iframe-container">
                {{ video.player|raw }}
            </div>

        </div>

        <div class="col-md-6 video-show-description details">
            <h3>Description</h3>
            <div class="description-content">
                
            {% if video.description %}
                {{ video.description|nl2br }}
            {% else %}
                No description available.
            {% endif %}
            </div>
{#
            {% embed 'partial/pub.html.twig' %}
                {% block user %}
                    {% if is_granted('ROLE_CONTENT_ADMIN') %}
                        <p><strong>Your profile of this video:</strong></p>
                        <dl clas="dl-horizontal">
                            {% for element in elements %}
                                <dt>{{ element }}</dt>
                                <dd>
                                    {% for keyword in videoProfile.getProfileKeywords(element) %}
                                        {{ keyword }},
                                    {% endfor %}
                                </dd>
                            {% endfor %}
                        </dl>
                    {% endif %}
                {% endblock %}
            {% endembed %}
#}
        </div>
    </div>

    <div>
        
        <div class="btn-toolbar details-nav">
  
            <div class="btn-group">
                <strong>Go to: </strong>
                <a class="btn btn-default" href="#metadata" aria-expanded="true">Metadata</a>
                <a class="btn btn-default" href="#captions" aria-expanded="false">Captions</a>
                <a class="btn btn-default"  href="#profiles" aria-expanded="false">Profiles</a>
                
                {%if hasScreenshots %}
                <a class="btn btn-default" href="#screenshots" aria-expanded="false">Screenshots</a> 
                {% endif %}
            </div>
    
        </div>
<!--       -->
 
            <div class="details" id="metadata">
                <h3>Metadata</h3>
                <div id="metadataContent" class="details-content collapse in" aria-expanded="true">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>
                                Video ID
                            </th>
                            <td>
                                {{ video.id }}
                            </td>
                        </tr>
                        <th>
                            Youtube URL
                        </th>
                        <td>
                            <a href="https://www.youtube.com/watch?v={{ video.youtubeId }}">{{ video }}</a>
                        </td>
                        </tr>
                        
                        <tr>
                            <th>Captions Available</th>
                            <td>
                                {% if video.captionsAvailable is null %}
                                    Unknown
                                {% elseif video.captionsAvailable %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Captions Downloadable</th>
                            <td>
                                {% if video.captionsDownloadable is null %}
                                    Unknown
                                {% elseif video.captionsDownloadable %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Playlists</th>
                            <td>
                                {% if video.playlists %}
                                    <ul class="list list-unstyled">
                                        {% for playlist in video.playlists %}
                                            <li>
                                                <a href="{{ path('playlist_show', {'id': playlist.id}) }}">{{ playlist }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Duration</th>
                            <td>
                                {% if video.duration %}
                                    {% set duration = video.getDuration(true) %}
                                    {{ "%02d:%02d:%02d"|format(duration.h, duration.i, duration.s) }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Definition</th>
                            <td>{{ video.definition }}</td>
                        </tr>
                        <tr>
                            <th>Keywords
                                {% if video.keywords|length %}
                                <div class="btn-toolbar">
                                    <div class="btn-group">
                                        <a href="{{ path('video_keyword_download', {'id': video.id}) }}" class="btn btn-default">
                                            <span class="glyphicon glyphicon-download"></span> Download
                                        </a>
                                    </div>
                                </div>
                                {% endif %}
                            
                            </th>
                            <td>
                                {% if video.keywords|length %}
                               

                                    <ul class="tags">
                                        {% for keyword in video.keywords %}
                                            <li class="tag">
                                                <a href="{{ path('keyword_show', {'id': keyword.id}) }}">{{ keyword.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>License</th>
                            <td>{{ video.license }}</td>
                        </tr>
                        <tr>
                            <th>Embeddable</th>
                            <td>{% if video.embeddable %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Views</th>
                            <td>{{ video.viewCount }}</td>
                        </tr>
                        <tr>
                            <th>Likes</th>
                            <td>{{ video.likeCount }}</td>
                        </tr>
                        <tr>
                            <th>Dislikes</th>
                            <td>{{ video.dislikeCount }}</td>
                        </tr>
                        <tr>
                            <th>Favourites</th>
                            <td>{{ video.favouriteCount }}</td>
                        </tr>
                        <tr>
                            <th>Comments</th>
                            <td>{{ video.commentCount }}</td>
                        </tr>
                        <tr>
                            <th>Created</th>
                            <td>{% if video.created %}{{ video.created|date }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Updated</th>
                            <td>{% if video.updated %}{{ video.updated|date }}{% endif %}</td>
                        </tr>
                    </tbody>
                </table>
            
                </div>
            </div>
            <div class="details"  id="captions">
                <h3>Captions</h3>
                <div id="captionsContent" class="details-content collapse in">
                {% if video.captionsDownloadable is not null and video.captionsDownloadable == false %}
                    <div class="alert alert-danger">
                        Captions for this video exist, but their contents were not available to download.
                    </div>
                {% else %}
                <ul class="nav nav-tabs" role="tablist">
                    {% for caption in video.captions %}
                    <li>
                        <a href="#c_{{ caption.id }}" {%if loop.index == 1 %} class="active"{% endif %} data-toggle="tab">{{ caption }}</a>
                    </li>
                    {% endfor %}
                    
                </ul>
                <div class="tab-content">
                    {% for caption in video.captions %}
                    <div id="c_{{ caption.id }}" class="caption tab-pane{%if loop.index == 1 %} active{% endif %}" role="tabpanel">
                        <h3>{{ caption }}</h3>
                        <p>
                            {{ caption.content|nl2br }}
                        </p>
                    </div>
                    
                    
                    {% endfor %}
                </div>
                    
                {% endif %}
                </div>
            </div>
            <div class="details"  id="profiles">
                <h3>Profiles</h3>
                <div id="profilesContent" class="details-content collapse in">
                    
                 {% for profile in video.videoProfiles %}
                    <div class="profile">
                        {% embed 'partial/pub.html.twig' with {'tag': 'h4'} %}
                            {% block anon %}Profile {{ loop.index }} {% endblock %}
                            {% block user %}{{ profile.user.fullname }}{% endblock %}
                        {% endembed %}
                        
                        <table class="table table-condensed table-hover table-striped">
                            <tbody>
                                {% for element in elements %}
                                <tr>
                                    <th>{{ element }}</th>
                                    <td>
                                        {% for keyword in profile.getProfileKeywords(element) %}
                                        {{ keyword }}{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr> 
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                 
                 {% endfor %}
                 
                 {#
                 {% embed 'partial/pub.html.twig' %}
                 {% block user %}
                 {% if is_granted('ROLE_CONTENT_ADMIN') %}
                    <div class="profile">
                        <p><strong>Your profile of this video:</strong></p>
                        <table class="table table-condensed table-hover table-striped">
                            <tbody>
                                {% for element in elements %}
                                <tr>
                                    <th>{{ element }}</th>
                                    <td>
                                        {% for keyword in profile.getProfileKeywords(element) %}
                                        {{ keyword }}{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr> 
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                    {% endblock %}
                    {% endembed %} #}
                 {#
                {% for profile in video.videoProfiles %}
                    {% embed 'partial/pub.html.twig' with {'tag': 'h3'} %}
                        {% block user %}{{ profile.user.fullname }}{% endblock %}
                        {% block anon %}User{% endblock %}
                    {% endembed %}

                    <dl class="dl-horizontal">
                        {% for element in elements %}
                            <dt>{{ element }}</dt>
                            <dd>
                                {% for keyword in profile.getProfileKeywords(element) %}
                                    {{ keyword }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </dd>
                        {% endfor %}
                    </dl>
                {% endfor %}
                #}
                </div>
            </div>
        {% if hasScreenshots %}
            <div class="details" id="screenshots">
                <h3>Screenshots</h3>
                <div id="screenshotsContent" class="details-content collapse">
                {% if is_granted('ROLE_CONTENT_ADMIN') %}
                    <div class="btn-toolbar">
                        <div class="btn-group pull-right">
                            <a href="{{ path('video_screen_shot_new', {'id': video.id}) }}" class="btn btn-default"> <span class="glyphicon glyphicon-plus"></span> Add Screenshot</a>
                        </div>
                    </div>
                {% endif %}

                {% for screenShot in video.screenShots %}
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="thumbnail">
                                <a href="{{ asset('images/caps/' ~ screenShot.imageFilePath) }}" target="_blank">
                                    <img src="{{ asset('images/caps/' ~ screenShot.thumbnailPath) }}" width="{{ thumb_width }}" height="{{ thumb_height }}" />
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            {{ screenShot.originalName }}<br />
                            {{ screenShot.imageSize }} bytes - {{ screenShot.imageWidth }}x{{ screenShot.imageHeight }}<br/>
                            Added {{ screenShot.created|date }}.
                            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                                <div class="btn-toolbar">
                                    <div class="btn-group">
                                        <a href="{{ path('video_screen_shot_delete', {'id': video.id, 'screenshotId': screenShot.id}) }}" class="btn btn-danger"> <span class="glyphicon glyphicon-trash"></span> Remove screenshot</a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
 
        </div>
        {% endif %}
    </div>


{% endblock %}
