{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>VideoProfile List</h1>
    <p class="count">
        Displaying {{ videoProfiles|length }} videoProfiles of {{ videoProfiles.getTotalItemCount }} total.
    </p>
{% endblock %} 

{% block body %}

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Created</th>
                <th>Updated</th>          
            </tr>
        </thead>
        <tbody>
            {% for videoProfile in videoProfiles %}
                <tr>
                    <td>
                        <a href="{{ path('video_profile_show', { 'videoId': videoProfile.video.id }) }}">
                            {{ videoProfile.video }}
                        </a>
                    </td>
                    <td>{% if videoProfile.updated %}{{ videoProfile.updated|date }}{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(videoProfiles) }}
    </div>

{% endblock %}
