{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>Playlist</h1>
{% endblock %} 

{% block body %}

    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="{{ path('playlist_index') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </a>
        </div>
    </div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Youtube URL</th>
                <td><a href="https://www.youtube.com/playlist?list={{ playlist.youtubeId }}">{{ playlist.title }}</a></td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ playlist.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ playlist.description }}</td>
            </tr>
            <tr>
                <th>Youtube Id</th>
                <td>{{ playlist.youtubeId }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{% if playlist.publishedAt %}{{ playlist.publishedAt|date }}{% endif %}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ playlist.status }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if playlist.created %}{{ playlist.created|date }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if playlist.updated %}{{ playlist.updated|date }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <h2>Videos</h2>
    {% if videos|length > 0 %}
        <div class="container">
            <ol class="list">
                {% for video in playlist.videos %}
                    <li class="">
                        <a href="{{ path('video_show', {'id': video.id}) }}">{{ video }}</a>
                    </li>
                {% endfor %}
                </ul>
        </div>
    {% endif %}

{% endblock %}
